@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  width: 32px;
  height: 32px;
}

button {
  margin-left: 5px;
  
  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #1F3B4D;
  color: #fff;

  flex: 1;
  display: flex;
  flex-direction: column;

  height: 100%;
}

.users-count, .chat-users > * {
  height: 4rem;

  align-items: center;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.chat {
  flex: 5;

  display: flex;
  flex-direction: column;
  background: #f5f5f5 url('https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?size=626&ext=jpg');
}

.chat-header {
  background-color: #017374;
  color: #fff;
  text-transform: uppercase;
  height: 60px;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2%;
  margin: 10px 10px 10px 10px;
  
}

.chat-content {
  color: #fff;

  display: flex;
  flex-direction: column;
  flex: 1;

  overflow-y: auto;
}

.message {
  background-color: #607d8b;
  margin: 0px 10px 10px 10px;
  width: fit-content;
  max-width: 50%;
  padding: 10px;
}

.sent {
  border-radius: 10px 10px 0px 10px;
  align-self: flex-end;
}

.received {
  border-radius: 10px 10px 10px 0px;
}

.chat-footer form {
  height: 60px;
  background-color: #017374;
  
  display: flex;
  
  padding: 10px;
}

.chat-footer form input {
  flex: 1;

  padding: 0px 20px;
  outline: none;
  border: none;

  border-radius: 20px;
}

.chat-footer form button {
  border-radius: 50%;
}
