@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;
    color: white;
    height: 3rem;
    font-weight: bold;
}