<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat room</title>
    <link rel="stylesheet" href="../../css/chat.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="users-count">User count: 1</div>
        <div class="chat-users">
          <div class="chat-user"></div>
        </div>
      </div>
      <div class="chat">
        <div class="chat-header">
          <h4 class="chat-group-title">Title</h4>
          <button id="leave" type="submit"><img src="https://image.flaticon.com/icons/svg/149/149029.svg" alt="Exit"></button>
        </div>
        <div id="chatContent" class="chat-content"></div>
        <div class="chat-footer">
          <form id="messageForm">
            <input type="text" id="MessageInput" autocomplete="off" placeholder="Type your message...">
            <button type="submit"><img src="https://image.flaticon.com/icons/svg/2948/2948197.svg" alt="Send"></button>
          </form>
        </div>
      </div>
    </div>
    <script src="../client.js"></script>
  </body>
</html>
